* {
  font-family: Arial, Helvetica, sans-serif;
  color: white;
}
*::-webkit-scrollbar {
  display: none;
}

#root {
  height: 100%;
  padding: 0;
}

body {
  --bg-color: #3a3a3a;
  background-color: var(--bg-color);
  height: 100vh;
  padding: 0;
  margin: 0;
}
body .flex-row {
  display: flex;
  flex-direction: row;
}
body .mainWrapper {
  max-width: 1400px;
  margin: 0 auto;
  width: 100%;
  display: flex;
  height: 100%;
  justify-content: space-evenly;
  align-items: center;
}
body .mainWrapper__container {
  border: 1px white solid;
  border-radius: 4px;
  height: 700px;
  box-sizing: border-box;
}
body .mainWrapper .main-screen {
  width: 100%;
  margin-left: 5px;
  padding: 0px 20px;
  background-color: var(--bg-color);
  z-index: 2;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}
body .mainWrapper .history-displayer {
  border: 1px solid white;
  border-radius: 0px 6px 6px 0px;
  max-width: 300px;
  width: 100%;
  height: 680px;
  margin-left: -55px;
  overflow: scroll;
}
body .mainWrapper .history-displayer-manager {
  padding: 15px 0px 15px 70px;
  border-bottom: 1px solid white;
}
body .mainWrapper .history-displayer-manager button {
  background-color: var(--bg-color);
  border: 1px solid white;
  padding: 10px 20px;
  border-radius: 6px;
  cursor: pointer;
}
body .mainWrapper .history-displayer-manager button:hover {
  background-color: white;
  color: var(--bg-color);
}
body .mainWrapper .history-displayer-manager button:active {
  background-color: var(--bg-color);
  color: white;
}
body .mainWrapper .history-displayer-list {
  margin: 0px;
  list-style-type: none;
}
body .mainWrapper .history-displayer-list-item {
  padding: 10px 10px 10px 30px;
  border-bottom: 1px dotted white;
  font-size: 16px;
}
body .mainWrapper .navigator {
  max-width: 70px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5px 5px;
}
body .mainWrapper .navigator__button {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 12px;
  border: 1px solid white;
  color: white;
  width: 100%;
  padding: 10px 5px;
  margin: 2px 0;
  box-sizing: border-box;
  border-radius: 4px;
}
body .mainWrapper .navigator__button img {
  margin-top: 5px;
  max-width: 20px;
}
body .mainWrapper .navigator__button_name {
  margin: 0;
}
body .mainWrapper .navigator__button:hover {
  cursor: pointer;
}
body .mainWrapper .navigator__button:active {
  background-color: white;
}
body .mainWrapper .navigator__button:active p, body .mainWrapper .navigator__button:active img {
  color: var(--bg-color);
}

.scenic-screen {
  height: 100%;
  overflow-y: scroll;
  padding-bottom: 10px;
}
.scenic-screen .location-navigator {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-top: 20px;
}
.scenic-screen .location-navigator .background-normal {
  background-color: var(--bg-color);
  color: white;
}
.scenic-screen .location-navigator .background-reversed {
  background-color: white;
  color: var(--bg-color);
}
.scenic-screen .location-navigator h1 {
  margin: 0;
}
.scenic-screen .location-navigator h2 {
  border: 1px solid white;
  padding: 5px 10px;
  box-sizing: border-box;
  border-radius: 4px;
  margin: 0px 0px 0px 5px;
  font-size: 16px;
  cursor: pointer;
}
.scenic-screen .location-navigator h2:active {
  background-color: white;
  color: var(--bg-color);
}
.scenic-screen .search-button-container .prompt-container {
  font-size: 14px;
}
.scenic-screen .search-button-container .prompt-container .primary-prompt {
  max-width: 700px;
}
.scenic-screen .search-button-container .search-button {
  background-color: transparent;
  max-width: 100px;
  width: 100%;
  text-transform: uppercase;
  padding: 10px 10px;
  border: 1px solid white;
  border-radius: 4px;
  cursor: pointer;
}
.scenic-screen .search-button-container .search-button:active {
  background-color: white;
  color: var(--bg-color);
}
.scenic-screen .search-button-container .search-button:active .search-button-bar {
  background-color: var(--bg-color);
}
.scenic-screen .search-button-container .search-button-bar {
  margin-top: 5px;
  width: 100%;
  height: 4px;
  background-color: white;
}
.scenic-screen .search-button-container .search-button .deactivated-search-bar {
  margin-top: 5px;
  width: 100%;
  height: 4px;
  background-color: white;
  animation-name: search-bar;
  animation-duration: 3s;
}
.scenic-screen .search-button-container .disabled-search-button {
  background-color: #242424;
  max-width: 100px;
  width: 100%;
  text-transform: uppercase;
  padding: 10px 10px;
  border: 1px solid white;
  border-radius: 4px;
}
.scenic-screen .search-button-container .disabled-search-button-bar {
  margin-top: 5px;
  width: 0%;
  height: 4px;
  background-color: white;
}
.scenic-screen-action-container {
  border: 1px solid white;
  border-radius: 6px;
  height: 450px;
  width: 100%;
  margin-top: 15px;
  box-sizing: border-box;
  padding: 10px;
  display: flex;
  justify-content: space-evenly;
}
.scenic-screen-action-container .mc-displayer, .scenic-screen-action-container .enemy-displayer {
  max-width: 48%;
  box-sizing: border-box;
  width: 100%;
  border-radius: 8px;
  height: 100%;
  padding: 10px;
}
.scenic-screen-action-container .mc-displayer .status-bar, .scenic-screen-action-container .enemy-displayer .status-bar {
  max-width: 100%;
  width: 100%;
  border: 1px solid white;
  border-radius: 6px;
  height: auto;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 10px 15px;
  box-sizing: border-box;
}
.scenic-screen-action-container .mc-displayer .status-bar h2, .scenic-screen-action-container .enemy-displayer .status-bar h2 {
  max-width: 90px;
  width: 100%;
  font-size: 18px;
  margin: 0 20px 0 0;
}
.scenic-screen-action-container .mc-displayer .status-bar-bars, .scenic-screen-action-container .enemy-displayer .status-bar-bars {
  height: auto;
  width: 100%;
  max-width: 80%;
  display: flex;
  align-items: center;
}
.scenic-screen-action-container .mc-displayer .status-bar-bars-health, .scenic-screen-action-container .enemy-displayer .status-bar-bars-health {
  border: 1px solid white;
  border-radius: 6px;
  display: flex;
  padding: 5px 0px;
  align-items: center;
}
.scenic-screen-action-container .mc-displayer .status-bar-bars-health .health-bar, .scenic-screen-action-container .enemy-displayer .status-bar-bars-health .health-bar {
  padding: 5px;
  border-radius: 5px;
  width: 100%;
  background-color: white;
}
.scenic-screen-action-container .mc-displayer .status-bar-bars div, .scenic-screen-action-container .enemy-displayer .status-bar-bars div {
  height: 15px;
  max-width: 100%;
  width: 100%;
}
.scenic-screen-action-container .mc-displayer .status-bar-bars div p, .scenic-screen-action-container .enemy-displayer .status-bar-bars div p {
  border-radius: 5px;
  padding: 1px 5px;
  box-sizing: border-box;
  font-size: 12px;
  width: 50px;
  max-width: 50px;
  margin: 0;
  background-color: var(--bg-color);
  color: white;
}
.scenic-screen-action-container .mc-displayer-bottom-row {
  display: flex;
  justify-content: space-evenly;
  padding: 10px 0;
}
.scenic-screen-action-container .mc-displayer-bottom-row .mc-displayer-options {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.scenic-screen-action-container .mc-displayer-bottom-row .mc-displayer-options-button {
  background-color: var(--bg-color);
  color: white;
  font-size: 16px;
  max-width: 125px;
  width: 100%;
  border: 1px solid white;
  border-radius: 6px;
  padding: 10px 20px;
  margin-bottom: 10px;
  cursor: pointer;
}
.scenic-screen-action-container .mc-displayer-bottom-row .mc-displayer-options-button:active {
  background-color: white;
  color: var(--bg-color);
}

.inventory {
  display: flex;
  flex-direction: row;
  padding: 20px 0px;
  box-sizing: border-box;
  height: 100%;
}
.inventory-left {
  max-width: 650px;
  width: 100%;
}
.inventory-left h1 {
  margin: 5px 0px 20px;
}
.inventory-left .inventory-space {
  border: 1px white solid;
  border-radius: 6px;
  max-width: 610px;
  width: 100%;
  height: 330px;
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  padding: 5px 5px;
  overflow-y: scroll;
}
.inventory-left .inventory-space .inventory-item {
  max-width: 80px;
  width: 100%;
  height: 120px;
  background-color: transparent;
  border: solid 1px white;
  padding: 15px 15px;
  margin: 5px;
  border-radius: 6px;
  text-align: center;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.inventory-left .inventory-space .inventory-item-content {
  box-sizing: border-box;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
.inventory-left .inventory-space .inventory-item-content p {
  margin: 0;
  font-size: 14px;
}
.inventory-left .inventory-space .inventory-item-content img {
  height: 50px;
}
.inventory-left .inventory-space .item-menu {
  background-color: var(--bg-color);
  max-width: 90px;
  width: 100%;
  position: absolute;
  height: 130px;
  border: 1px solid white;
  border-radius: 6px;
  padding: 10px;
}
.inventory-left .inventory-space .item-menu-button {
  background-color: var(--bg-color);
  color: white;
  border: 1px solid white;
  border-radius: 6px;
  width: 100%;
  height: 25px;
  font-size: 12px;
  cursor: pointer;
}
.inventory-left .inventory-space .item-menu-button:hover {
  background-color: white;
  color: var(--bg-color);
}
.inventory-left .inventory-space .item-menu-button:active {
  background-color: var(--bg-color);
  color: white;
}
.inventory-right {
  width: 50%;
}
.inventory-right .stat-value {
  display: flex;
  flex-wrap: wrap;
  position: absolute;
  background-color: var(--bg-color);
  border: 1px solid white;
  border-radius: 6px;
  padding: 10px;
  max-width: 300px;
  width: 100%;
  margin-left: -330px;
}
.inventory-right .stat-value-text {
  margin: 10px;
}
.inventory-right .character-display {
  border: 1px solid white;
  width: 100%;
  height: 100%;
  padding: 10px 0;
  box-sizing: border-box;
  border-radius: 6px;
}
.inventory-right .character-display-name {
  height: 70px;
  padding: 0px 10px;
  display: flex;
}
.inventory-right .character-display-name p {
  margin: 0;
}
.inventory-right .character-display-name-column-one {
  max-width: 50%;
  width: 100%;
  height: 100%;
}
.inventory-right .character-display-name-column-one .stats-displayer {
  align-items: center;
  margin-top: 5px;
}
.inventory-right .character-display-name-column-one .stats-displayer button {
  background-color: transparent;
  width: 20px;
  border-radius: 6px;
  border: 1px solid white;
  height: 10px;
  margin-right: 5px;
  cursor: pointer;
}
.inventory-right .character-display-name-column-one .stats-displayer button:hover {
  background-color: white;
}
.inventory-right .character-display-name-column-two {
  max-width: 50%;
}
.inventory-right .character-display-items {
  height: 405px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.inventory-right .character-display-items .equipment-item-container {
  width: 60px;
  height: 60px;
  padding: 5px;
  box-sizing: border-box;
  border: 1px solid white;
  border-radius: 6px;
  margin: 20px 25px;
  text-align: center;
  cursor: pointer;
}
.inventory-right .character-display-items .equipment-item-container-description {
  position: absolute;
  box-sizing: inherit;
  padding: 10px;
  text-align: left;
  border: 1px solid white;
  border-radius: 6px;
  margin-top: 0px;
  margin-left: -215px;
  width: 200px;
  height: auto;
  background-color: var(--bg-color);
}
.inventory-right .character-display-items .equipment-item-container p {
  margin: 0;
  font-size: 12px;
}
.inventory-right .character-display-status {
  border: 1px solid white;
  border-radius: 6px;
  height: 140px;
  margin: 0px 10px;
}

.skills {
  padding: 10px 0px;
}
.skills .skills-container {
  border: 1px solid white;
  border-radius: 6px;
  padding: 10px;
  box-sizing: border-box;
  width: 100%;
  height: 150%;
  max-height: 150%;
}
.skills .skills-container-skill {
  box-sizing: border-box;
  padding: 10px;
  border: 1px solid white;
  max-width: 150px;
  border-radius: 6px;
  height: 100px;
  cursor: pointer;
  overflow-y: scroll;
}
.skills .skills-container-skill h2 {
  font-size: 24px;
  margin: 0;
}
.skills .skills-container-skill p {
  margin: 0;
  font-size: 14px;
}
.skills .skills-container-skill .skill-description {
  border: 1px solid white;
  border-radius: 6px;
  width: 100%;
  max-width: 200px;
  padding: 10px;
  position: absolute;
  background-color: var(--bg-color);
  z-index: 1;
  margin-top: -35px;
  margin-left: 150px;
}
.skills .skills-container-skill .skill-description p {
  margin: 5px 0px;
}

@media (max-width: 1400px) {
  body .mainWrapper {
    max-width: 1200px;
  }
  body .mainWrapper .history-displayer {
    display: none;
  }
}
@keyframes search-bar {
  from {
    width: 0%;
  }
  to {
    width: 100%;
  }
}/*# sourceMappingURL=index.css.map */